body {
    background: papayawhip;
    display: flex;
    flex-direction: column; 
    margin: 0;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

.header {
    background: #171e27;
    display: flex;
    flex-direction: row;
    height: 70px;
    margin: 0;
    padding: 0 19%;
}

.header .header-left {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.header .header-left .header-logo {
    margin: 16px 0px;
}

.header .header-left .learn {
    display: flex;
    flex-direction: row;
    background: transparent;
    padding-left: 40px;
    text-decoration: unset;
}

.header .header-left .learn:hover .text {
    opacity: 1;
}

.header-left .learn .text {
    color: white;
    opacity: 0.9;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    padding: 0rem 0.25rem;
    font-weight: 400;
    transition: 0.3ms
}


.header-right {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.header-right .search-bar { 
    background: #232c3b;
    border: 0;
    border-radius: 3px 0px 0px 3px;
    color: white;
    opacity: 1;
    
    padding-left: 0.5rem; 
    margin: 0;
    font-size: 10pt;
    height: 30px;
    width: 250px;
}
::placeholder{
    color: white;
    opacity: 0.6;
    font-weight: 400;
}

.header-right .search-button { 
    display: flex;
    align-items: center;
    background: #232c3b;  
    border-radius: 0px 3px 3px 0px; 
    color: white;
    margin: 0;
    border: 0;
    font-size: 18pt;
    height: 32px;
}

.header-right .search-button:hover {
    background: #4786ff;
}




.header-right .pro {
    border: 0;
    border-radius: 0.2rem;
    background: #409b6b;
    color: hsl(0, 0%, 100%, 0.9); 
    font-size: 14px;
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 15px;
}

.header-right .pro:hover {
    background: #33b16e;
    color: hsl(0, 0%, 100%, 1);
}

.header-right .sign-in {
    border: 0;
    border-radius: 0.2rem;
    background: transparent;
    color: hsl(0, 0%, 100%, 0.8); 
    font-size: 14px;
    height: 34px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 15px;
}

.header-right .sign-in:hover {
    color: hsl(0, 0%, 100%, 1);
}



.home {
    display: flex;
    background-image: linear-gradient(170deg, rgb(33, 42, 57) 0%, rgb(24, 30, 40) 100%);
    padding: 30px 15px 60px;
    flex-direction: row;
    height: 650px;
    padding: 0 19%;
}

.home .left {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    width: 60%;
}

.home .left .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home .left .title {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    color: white;
    font-size: 48px;
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 500;
    padding-right: 70px;
}

.home .left .subtitle {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    color: hsl(0, 0%, 100%, 0.6);
    font-size: 24px;
    font-weight: normal;
    margin: 0.75rem 0rem 1.25rem 0rem;
    margin-bottom: 50px;
    padding: 0rem 0rem;

}

.home .left .start {
    border: 0;
    border-radius: 0.3rem;
    color: hsl(0, 0%, 100%, 0.9);
    font-size: 14px;
    height: 48px;
    background: rgb(137, 86, 14);
    width: 16rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    min-width: 180px;
    margin: 15px 0;
}


.home .right {
    background: blue;
    width: 40%;
}

.content {
    background: greenyellow;
    display: flex;
    flex-direction: column;
    padding: 0 19%;
}

.temas-contenedor {
    background: blueviolet;
    display: flex;
    flex-direction: row;
    
    height: 750px;
}

.temas-contenedor .temas {
    background: cornflowerblue;
    width: 35%;
}

.temas-contenedor .info {
    background: tomato;
    width: 65%;
}

.quote-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    background: wheat;
    display: inline;
    width: 100%;
    height: 39vh;
    margin: 75px 0px;
}

.learn {
    background: orangered;
    height: 75vh;
}