body {
    background: #171e27;
    display: flex;
    align-content: center;
    flex-direction: column; 
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

.card {
    box-shadow: 3px 3px 12px hsl(0, 0%, 0%, 0.1);
    border-radius: 5px;
    background: white;
}

.grow {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

.header-container {
    background: #171e27;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin: 0px;
}

.header {
    background: #171e27;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 70px;
    max-width: 78rem;
    align-content: center;
    justify-items: center;
    line-height: 1.15;
    margin: 0px auto;  
    width: 100%; 
    padding-left: 32px;
    padding-right: 32px;
}

.header .header-left {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.header .header-left .header-logo {
    margin: 16px 0px;
}

.header .header-left .learn {
    display: flex;
    flex-direction: row;
    background: transparent;
    padding-left: 40px;
    text-decoration: unset;
}

.header .header-left .learn:hover .text {
    opacity: 1;
}

.header-left .learn .text {
    color: white;
    opacity: 0.9;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    padding: 0rem 0.25rem;
    font-weight: 400;
    transition: 0.3ms
}


.header-right {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.header-right .search-bar { 
    background: #232c3b;
    border: 0;
    border-radius: 3px 0px 0px 3px;
    color: white;
    opacity: 1;
    padding-left: 0.5rem; 
    margin: 0;
    font-size: 10pt;
    height: 32px;
    width: 200px;
}

.header-right .search-bar:focus {
    outline: none;
}
::placeholder{
    color: white;
    opacity: 0.6;
    font-weight: 400;
}

.header-right .search-button { 
    display: flex;
    align-items: center;
    background: #232c3b;  
    border-radius: 0px 3px 3px 0px; 
    color: white;
    margin: 0;
    border: 0;
    font-size: 18pt;
    height: 34px;
}

.header-right .search-button:hover {
    background: #4786ff;
}




.header-right .pro {
    border: 0;
    border-radius: 0.15rem;
    background: #409b6b;
    color: hsl(0, 0%, 100%, 0.9); 
    font-size: 14px;
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 15px;
}

.header-right .pro:hover {
    background: #33b16e;
    color: hsl(0, 0%, 100%, 1);
}

.header-right .sign-in {
    border: 0;
    border-radius: 0.2rem;
    background: transparent;
    color: hsl(0, 0%, 100%, 0.8); 
    font-size: 14px;
    height: 34px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 15px;
}

.header-right .sign-in:hover {
    color: hsl(0, 0%, 100%, 1);
}

.home-wrapper{
    background-image: linear-gradient(170deg, rgb(33, 42, 57) 0%, rgb(24, 30, 40) 100%);
    padding-left: 32px;
    padding-right: 32px;
}

.home {
    display: flex;
    background: transparent;
    padding: 30px 15px 60px;
    flex-direction: row;
    height: 650px;
    max-width: 74rem;
    align-content: center;
    line-height: 1.15;
    margin: 50px auto 0px auto;  
    width: 100%; 
}

.home .left {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    width: 58%;
}

.home .left .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home .left .title {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    color: white;
    font-size: 48px;
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 500;
    padding-right: 70px;
}

.home .left .subtitle {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    color: hsl(0, 0%, 100%, 0.6);
    font-size: 24px;
    font-weight: normal;
    margin: 0.75rem 0rem 1.25rem 0rem;
    margin-bottom: 50px;
    padding: 0rem 0rem;

}

.home .left .start {
    border: 0;
    border-radius: 0.3rem;
    color: hsl(0, 0%, 100%, 0.9);
    font-size: 14px;
    height: 48px;
    background: hsl(219, 100%, 64%, 0.8);
    width: 16rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    min-width: 180px;
    margin: 15px 0;
}

.home .left .start:hover {
    background: hsl(219, 100%, 64%, 1);
}



.home .right {
    display: flex;
    align-items: center;
    background: transparent;
    width: 42%;
}

.home .right .home-img {
    width: 100%;
}

.content {
    background: #f4f5f9;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
}

.temas-contenedor {
    background: transparent;
    display: flex;
    flex-direction: row;
    height: 750px;
    max-width: 74rem;
    align-content: center;
    line-height: 1.15;
    margin: 35px auto 0px auto;  
    width: 100%;
     
}

.temas-contenedor .temas {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 35%;
    align-items: center;
    justify-content: center;
}

.temas-contenedor .temas .fila-tema {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.temas .fila-tema .contenido {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 22px 22px 0px 0px;
    width: 180px;
    height: 180px;
}

.temas .fila-tema .contenido .tema-icon {
    width: 22%; 
    margin: 25% 0% 0% 0%;
}

.temas .fila-tema .contenido .tema-text {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

}

.temas-contenedor .info {
    box-sizing: border-box;
    padding: 0px 130px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    width: 65%;
}

.temas-contenedor .info .title {
    font-size: 36px;
    margin: 18px 0px;
    font-weight: normal;
}

.temas-contenedor .info .text {
    font-size: 18px;
    line-height: 28px;
}

.quote-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    height: 39vh;
    padding: 64px 96px;
    max-width: 74rem;
    align-content: center;
    line-height: 1.15;
    margin: 75px auto 0px auto;  
    width: 100%; 
}

.quote .image {
    height: 20%;
    margin-bottom: 18px;
}

.quote .text {
    font-size: 20px;
    font-weight: normal;
    font-family: georgia,times,serif;
    text-align: center;
    width: 600px;
    line-height: 32px;
}

.quote .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.quote .author .image {
    margin: 15px 0px;
    height: 100%;
    border-radius: 50%;
}

.quote .author .text {
    height: 100%;
    width: fit-content;
    text-align: start;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 15px;
}

.learn {
    background: orangered;
    height: 75vh;
}